viam-sdk>=0.21
onnx2torch

numpy==1.26.4

torch; sys_platform == 'darwin'
torch==2.2.2; sys_platform  == 'linux'
-f https://download.pytorch.org/whl/cpu/torch_stable.html

torchvision == 0.18; sys_platform  == 'darwin'
torchvision==0.17.2;sys_platform  == 'linux'
-f https://download.pytorch.org/whl/cpu/torch_stable.html

pyinstaller

facenet-pytorch
opencv-python
pillow
pathvalidate

##for testing
pytest
pytest-asyncio
pylint
